@import url(http://fonts.googleapis.com/css?family=Economica:400,400italic);

html, body {
    background: #1A1C3A;
    font-size: 1.1em;
    font-family: Roboto;

}

header{
    margin-top: 50px;
    border: 2px white solid;
}

footer {
    margin-bottom: 50px;
    border: 2px white solid;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 2.3em;
}
header h4 {
    font-size: 1.4em;
    color: #FFD62E;
}

header h1,
header h4 {
    margin: 0;
}
.presentation {
    padding-left: 10px;
    width: 72%;
    vertical-align: top;
    display: inline-block;
}
.photo {
    background: url('../Photobw.jpg');
    width: 150px;
    height: 150px;
    border: 1px solid white;
    background-size: cover;
    text-align: center;
    display: inline-block;
}
.uppercased{
    text-transform: uppercase;
}

.card .fancy-content .title{
    text-align: center;
}

.card {
    position: relative;
    width: 840px;
    padding: 10px;
    left: calc(50% - 420px);
}
.card:nth-child(1),
.card:last-child{
    box-shadow: inset 0px 0px 17px 14px white;
}

header.card {
    box-shadow: none!important;
}

.card .simple-content{
    color: white;
    background: #999AB8;
    padding: 10px;
    box-shadow: inset 0px -10px #F9F3C9;;
    border-radius: 0 0 10px 10px;
}
.card .full-width-content {
    width: 100%;
}
.card .title {
    position: relative;
    width: calc(100% + 20px);
    left: -10px;
    padding: 0 10px;
    border-radius: 0 10px 10px 10px;
    box-shadow: -5px 0 0 #FFD62E;
    background: #FFFFFF;
}
.card .title.fancy-title {
    width: 100%;
    left: 0;
    border-radius: 0;
    background: #D0D2E7;
}
.card a {
    text-decoration: none;
    color: white;
}

.card a.fa {
    color: white;
    font-size: xx-large;
}

.card span {
    color: #1A1C3A;
    font-weight: bold;
}

.card .title.width-75-content {
    width: 74%;
    display: inline-block;
}

.card .title.width-25-content {
    width: 24%;
    display: inline-block;
}
.card .width-75-content {
    width: 74%;
    display: inline-block;
}

.card .width-25-content {
    width: 24%;
    display: inline-block;
    vertical-align: top;
}

.card .contact-content {
    text-align: center;
}

#MyName {
    color: white;
}

#GlbTitle span {
    color: #782E3A;
}

#ParraStudiosTitle span {
    color: #782E3A;
}

@media screen and (max-width:850px) {
    html ,body {
        font-size: 1rem;
    }
    header, footer {
        margin: 0;
    }
    .card {
        position: relative;
        width: 100vw;
        left: 0;
    }
}