@import url(http://fonts.googleapis.com/css?family=Economica:400,400italic);

html, body {
    background: #1A1C3A;
    font-size: 1.1em;
    font-family: Roboto;

}

header {
    margin-top: 50px;
    border: 2px white solid;
}

header h1 {
    font-size: 2.3em;
}
header h4 {
    font-size: 1.4em;
    color: #FFD62E;
}

header h1,
header h4 {
    margin: 0;
}

.uppercased{
    text-transform: uppercase;
}

.card .fancy-content .title{
    text-align: center;
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {
    .card {
        position: relative;
        width: 840px;
        padding: 10px;
        left: calc(50% - 420px);
    }
    .card .simple-content{
        color: white;
        background: #999AB8;
        padding: 10px;
    }
    .card .full-width-content {
        width: 100%;
    }
    .card .title {
        position: relative;
        width: calc(100% + 20px);
        left: -10px;
        padding: 0 10px;
        box-shadow: -5px 0px 0px 0px #FFD62E;
        background: #FFFFFF;
    }
    .card .title.fancy-title {
        width: 100%;
        left: 0;
    }

    .card span {
        color: #1A1C3A;
        font-weight: bold;
    }
}

.card .title.width-75-content {
    width: 74%;
    display: inline-block;
}

.card .title.width-25-content {
    width: 25%;
    display: inline-block;
}
.card .width-75-content {
    width: 74%;
    display: inline-block;
}

.card .width-25-content {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

#MyName {
    color: white;
}

#GlbTitle {
    background: white;
}
#GlbTitle span {
    color: #FF0000;
}

#ParraStudiosTitle {
    background: white;
}
#ParraStudiosTitle span {
    color: #FF0000;
}